.banner-section{
    background-image: url('../../../images/banner.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    min-height: 50vh;
    background-blend-mode: hard-light;
}