/* .banner-section{
    background-image: url('../../../images/banner.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    background-blend-mode: hard-light;
} */
.each-slide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide div {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    box-shadow: 1px 2px 5px blue;
    background:rgba(34, 20, 20, 0.5);
    text-align: center;
  }
  